<template>
  <div class="gameoverContainer">
    <span class="gameoverContainer__title">o re <br/>ty</span>
    <p class="gameoverContainer__message">błąd głuptasie, stać cię na wiećej, co?</p>
    <div class="gameoverContainer__button">
      <router-link to="/" class="button">Udowodnij</router-link>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'Gameover'
  }
</script>
<style scoped lang="scss">
  @import "./../assets/settings";

  .gameoverContainer {
    @include result-container($color-black);

    &__title {
      @include result-title;
    }

    &__message {
      @include header-medium($font-size: 1rem, $color: $color-white, $margin-top: 1.5rem);
    }

    &__button {
      text-align: center;

      .button {
        @include button;
        @include button($modified: true, $background: $color-branding-1);
        margin-top: 2rem;
        border: 1px solid $color-white;
      }
    }
  }
</style>