<template>
  <div class="hello">
    <div class="homePage">
      <figure class="homePage__logo">
        <img class="logo" src="http://polskapress.pl/logo.png" alt="Polska Press Grupa">
      </figure>
      <div class="homePage__header">
        <h1 class="header">{{welcomeMessage}}</h1>
        <router-link to="/quiz" class="button">Udowodnij</router-link>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'hello',
    data () {
      return {
        welcomeMessage: 'jesteś kozakiem front-endu?'
      }
    }
  }
</script>
<style lang="scss" scoped>
  @import "./../assets/settings";

  .hello {
    width: 100%;
    height: 100%;
  }

  .homePage {
    @include container-basic;
    background-color: $color-grey-lightest;

    &__logo {
      width: 100%;
      text-align: left;
    }

    &__header {
      padding: 3rem 2rem;
    }
  }

  .logo {
    padding: 3rem 2rem;
  }

  .header {
    @include header-medium;
  }

  .button {
    @include button;
    @include button($modified: true);
    margin-top: 6rem;
  }
</style>
