<template lang="html">
  <div class="quizContainer">
  <v-touch @swipeleft="checkAnswer(false)" @swiperight="checkAnswer(true)" :swipe-options="{threshold: 200}">
    <figure class="quizContainer__logo">
      <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAMDAAAAJDg1ODgyZDU5LTEwNzUtNGMwNS1iYmE0LTNhZDUzZGY1N2FiNA.png" alt="Polska Press Grupa">
    </figure>
    <div class="quizContainer__question">
      <div v-for="(q, q_id) in questions" v-if="q_id == activeQuestion" class="question">
        <p class="content">{{q.question}}</p>
        <p class="pagination">{{q.id}}/{{questions.length}}</p>
      </div>
    </div>
    <div class="quizContainer__button">
      <button class="button button--no" @click="checkAnswer(false)">nie</button>
      <button class="button button--yes" @click="checkAnswer(true)">tak</button>
    </div>
  </v-touch>
  </div>
</template>
<script>
  import axios from 'axios'
  import GameOver from './GameOver.vue'

  export default {
    name: 'Quiz',
    components: {
      GameOver
    },

    data() {
      return {
        activeQuestion: 0,
        questions: [],
        failure: false,
        blah(){
          console.log('swipuje w lewo')
        }
      }
    },

    methods: {
      checkAnswer(userAnswer) {
        const isRightAnswer = () => {
          return userAnswer == this.questions[this.activeQuestion].answer
        };
        const goFurther = () => {
          return isLastQuestion() ? dispalySuccess() : nextQuestion()
        };
        const isLastQuestion = () => {
          return (this.activeQuestion + 1) >= this.questions.length
        };
        const dispalySuccess = () => {
          this.$router.push({path: 'success'})
        };
        const nextQuestion = () => {
          return this.activeQuestion += 1
        };
        const dispalyGameover = () => {
          this.$router.push({path: 'gameover'})
        };
        isRightAnswer() ? goFurther() : dispalyGameover();
      }
    },

    created: function () {
      let vue = this
      axios.get("http://djanicki.grdev.pl/polezing/web/questions")
        .then(function (response) {
          vue.questions = response.data
        }).catch(function (error) {
        console.log('this is error')
      })
    }
  }
</script>
<style lang="scss" scoped>
  @import "./../assets/settings";

  .quizContainer {
    @include container-basic;
    background-color: $color-branding-1;

    &__logo {
      background-color: $color-grey-lightest;
      border-bottom: 1rem solid $color-branding-2;

      img {
        width: 60%;
        margin: auto;
        display: block;

        @media (min-width: $media-min-l) {
          width: 30%;
        }
      }
    }

    &__question {
      @include question-field;

      .content {
        padding: 2rem .5rem 0;
        line-height: 2.1;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;

        @media (min-width: $media-min-m) {
          padding-top: 3rem;
          font-size: 1.5rem;
        }
      }

      .pagination {
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-bottom: 4px;
        width: 4rem;
        font-size: 0.8rem;
        letter-spacing: 8px;
        color: $color-grey-medium;
        border-bottom: 2px solid $color-grey-medium;
      }
    }

    &__button {
      margin-top: 2rem;

      .button {
        &:hover {
          cursor: pointer;
        }

        &:active {
          box-shadow: 0 8px 0 #d2d2d2, 0 12px 10px rgba(0, 0, 0, .3);
          transform: translate(0, 4px);
        }

        &--no {
          @include response-button($color-ui-1);
          margin-right: 3rem;
        }

        &--yes {
          @include response-button($color-ui-2);
        }
      }
    }
  }
</style>
