<template>
  <div class="successContainer">
    <span class="successContainer__title">sza<br/>cun</span>
    <p class="successContainer__message">Jesteś zwycięzcą. Podaj swojego maila, napiszemy do Ciebie!</p>
    <div class="successContainer__button">
      <router-link to="/" class="button">Podaj maila</router-link>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'Succes'
  }
</script>
<style scoped lang="scss">
  @import "./../assets/settings";

  .successContainer {
    @include result-container($color-orange);

    &__title {
      @include result-title;
    }

    &__message {
      @include header-medium($font-size: 1rem, $color: $color-white);
    }

    &__button {
      text-align: center;

      .button {
        @include button;
        @include button($modified: true, $background: $color-branding-2);
        margin-top: 2rem;
        border: 1px solid $color-white;
      }
    }
  }
</style>