// ASSETS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin-ext');

$font-primary: 'Open Sans', sans-serif;

$color-white: #fff !default;
$color-black: #000 !default;
$color-border-shadow: #6a6d6f !default;
$color-grey-lightest: #fff !default;
$color-grey-light: #f7f8f9 !default;
$color-grey-medium: #bfbfbf !default;
$color-orange: #f49842 !default;
$color-ui-1: #ff274d !default;
$color-ui-2: #68d06c !default;

$color-branding-1: #5ac8fa !default;
$color-branding-2: #f1bb5a !default;

$font-size-title: 6rem;

$media-min-m: 600px;
$media-min-l: 1000px;
// BLOCKS

@mixin button($modified: false, $size: 2.5rem, $background: $color-branding-1, $color: $color-grey-lightest) {
  @if $modified {
    background-color: $background;
    color: $color;
    box-shadow: 0 5px 15px -7px $background;

    &:focus,
    &:hover {
      box-shadow: 0 5px 15px -3px $background;
    }
  } @else {
    line-height: $size;
    border-radius: $size / 2;
    border: 0;
    font-size: .8rem;
    padding: 0 35px;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s;

    @media (min-width: $media-min-m) {
      font-size: 1.2rem;
      padding: .5rem 3rem;
      margin-top: 5rem;
    }

    &:focus,
    &:hover {
      outline: none;
    }
  }
}

@mixin container-basic {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@mixin header-medium($font-size: 1.5rem, $color: $color-grey-medium, $margin-top: 0) {
  max-width: 22ch;
  font-size: $font-size;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1.6;
  text-align: left;
  text-transform: uppercase;
  color: $color;
  margin-top: $margin-top;

  @media (min-width: $media-min-m) {
    max-width: 100%;
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
  }
}

@mixin question-field($height: 50%) {
  height: $height;
  width: 80%;
  margin: 1rem auto;
  position: relative;
  text-align: center;
  background-color: $color-grey-lightest;
  box-shadow: 0px 6px 6px -2px $color-border-shadow;

  @media (min-width: $media-min-l) {
    width: 50%;
  }
}

@mixin response-button ($background) {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: .6rem solid $color-white;
  background-color: $background;
  color: $color-white;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 7px 0 #d2d2d2, 0 15px 20px rgba(0, 0, 0, .35);
  transition: box-shadow .1s ease-in-out, transform .1s ease-in-out;

  @media (min-width: $media-min-m) {
    height: 6.5rem;
    width: 6.5rem;
  }
}

@mixin result-container ($background){
    height: 100%;
    padding: 2.5rem 1.5rem;
    background-color: $background;
    color: $color-white;
}

@mixin result-title {
  display: block;
  font-size: $font-size-title;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: .2rem;

  @media (min-width: $media-min-m) {
    font-size: 7rem;
    text-align: center;
  }
}